[2020-01-22 18:19] camilaccolares opened #4 "Projeto Metabase - Self Service BI"
- [x] Analisar Power BI, Click View, Tableaux e outras ferramentas de BI para levantamento de funcionalidades.
- [x] Oficinas de disseminação e treinamento em Ciência de Dados utilizando Metabase

[2020-02-07 14:21] vicmagpac commented on #5
Verificar

[2020-02-12 18:53] drmarcos opened #1 "Bases de dados de pesquisadores"
DBLP : A bibliografia de ciência da computação da dblp é a referência on-line para informações bibliográficas nas principais publicações de ciência da computação. Ele evoluiu de um pequeno servidor Web experimental para um serviço popular de dados abertos para toda a comunidade de ciência da computação. Nossa missão na dblp é apoiar os pesquisadores de ciência da computação em seus esforços diário

[2020-02-12 18:54] rmadev-master opened #2 "Estruturação e Integração de Bases"
Verificar intersession entre bases de dados:
- SAGU
- SAEC
- SACS
- SISWEB
- Grasiela
- SisRH

[2020-02-12 18:54] drmarcos opened #3 "Bases de dados de pesquisadores"
DBLP : A bibliografia de ciência da computação da dblp é a referência on-line para informações bibliográficas nas principais publicações de ciência da computação. Ele evoluiu de um pequeno servidor Web experimental para um serviço popular de dados abertos para toda a comunidade de ciência da computação. Nossa missão na dblp é apoiar os pesquisadores de ciência da computação em seus esforços diário

[2020-02-12 18:58] victorMagalhaesPacheco opened #5 "Integração dados LATTES (CNPQ)"
Em reunião com a FUNCAP no dia 06/02/2020, foi informado que para que o CNPQ permita a integração do LATTES com qualquer sistema, é necessário realizar uma solicitação para o CNPQ e o mesmo permitirá acesso ao WEBSERVICE no formato XML para integração em apenas 1 IP especificado na solicitação.

**Extração de CV e Grupos da Instituição**

1. A extração de dados de CV e Grupos de Pesquisa esta disp

[2020-02-12 18:58] uira opened #6 "Implementar migração DASHBOARD elasticsearch para o METABASE"
- [x] Publicar aplicação Online;
- [ ] SAGU - [CURSOS];
- [ ] SAGU - [DOCENTES];
- [ ] SAGU - [EXTENSÃO];
- [ ] SAGU - [PESSOAS];
- [ ] SAGU - [CNES];
- [ ] SAGU - [CENTROS X ALUNOS SITUAÇÕES];
- [ ] SAGU - [APS][DETALHAMENTO DIÁRIO];
- [ ] SAGU - [APS][PROCEDIMENTOS REALIZADOS];
- [ ] [CENIC][MAPA INSTITUIÇÕES DE ENSINO];
- [ ] [CENIC][PESQUISA DIAGNOSTICO MUNICIPAL];

[2020-02-12 19:08] victorMagalhaesPacheco opened #7 "Implementar data warehouse"

[2020-02-12 19:56] camilaccolares opened #8 "Alteração de nome da base de dados "cnes""
- [x] A base de dados "cnes" no servidor do Mapas (10.17.0.156) deve ser renomeada para dw.
- [x] O schema "public" deve ser renomeado para "cnes".
- [x] O metabase deve ser reconfigurado para apontar para a nova base (dw).

[2020-02-13 13:02] uira opened #9 "Criar Painel de Gestão da Ouvidoria"
A Ouvidoria da ESP utiliza o sistema do Ceara Transparente, que fornece APIs e Dados Abertos, viabilizando a criação de painéis dinâmicos para acompanhamento do desempenho da ouvidoria.

**Modelo:**
- https://www.esp.ce.gov.br/wp-content/uploads/sites/78/2020/01/Relatorio-de-Gest%C3%A3o-de-Ouvidoria-ESP-2018-2.pdf

Prazo: Janeiro de 2021

[2020-02-13 13:05] uira opened #10 "Implementar interface Analytica"
Na última reunião ordinária do CONTEC, o @Marceloalcantara solicitou que fossem implementados indicadores de efetividade com base nas diretrizes do SUS/OMS (por exemplo, quantidade de médicos da família por 1000 habitantes).

Com isso, ele também sugeriu a criação de uma **Interface Analytica**, em que o gestor seja informado dos indicadores ao lado de sugestões de medidas que podem ser implementa

[2020-02-20 19:17] camilaccolares opened #11 "Portaria 1631 de 2015 --> MS recomenda quantitativos de profissionais"

[2020-02-20 19:20] camilaccolares opened #12 "Portaria 2979 de 11/2019 --> define o novo financiamento da APS."

[2020-02-20 19:20] camilaccolares commented on #12
[novo-financiamento-APS-previne-brasil-oficina.pdf.pdf](https://github.com/EscolaDeSaudePublica/dataLab/files/4232585/novo-financiamento-APS-previne-brasil-oficina.pdf.pdf)

[2020-02-20 19:21] camilaccolares commented on #12
[novo-financiamento-APS-previne-brasil-oficina.pdf](https://github.com/EscolaDeSaudePublica/dataLab/files/4232587/novo-financiamento-APS-previne-brasil-oficina.pdf)

[2020-02-20 19:21] camilaccolares commented on #11
[Parametros_SUS_2015.pdf](https://github.com/EscolaDeSaudePublica/dataLab/files/4232590/Parametros_SUS_2015.pdf)

[2020-02-20 19:26] camilaccolares commented on #12
[portaria2979.pdf](https://github.com/EscolaDeSaudePublica/dataLab/files/4232609/portaria2979.pdf)

[2020-02-20 19:31] camilaccolares opened #13 "Criar gráficos de taxa X municípios para mostrar a curva."

[2020-02-20 19:31] camilaccolares opened #14 "Exibir IDH dos municípios"

[2020-02-20 19:31] camilaccolares opened #15 "Elaborar um ranking de municípios, macros e micros quanto aos indicadores."

[2020-02-20 19:31] camilaccolares opened #16 "Realizar o cruzamento do provimento com os indicadores epidemiológicos."

[2020-02-20 19:32] camilaccolares opened #17 "No painel, informar a data dos dados que estão sendo exibidos."

[2020-02-20 19:32] camilaccolares opened #18 "Buscar informações (base de dados?) junto ao CREMEC a respeito de formação/qualificação dos médicos (análise qualitativa da força de trabalho)"

[2020-02-20 19:32] camilaccolares opened #19 "Pesquisar e inserir na tabela "cidades" o total de habitantes por município projetado para 2019."

[2020-02-26 16:32] #19 closed

[2020-02-26 16:35] camilaccolares opened #20 "Painel de Médicos - Exibir quantitativo de médicos"
- [x] Quantidade total
- [x] Quantidade por macro
- [x] Quantidade por micro
- [x] Quantidade por município

[2020-02-26 16:38] camilaccolares opened #21 "Painel de Médicos - Exibir número de médicos/1000 hab"
- [x] Total
- [ ] Por macro
- [ ] Por micro
- [ ] Por município

[2020-02-26 16:39] camilaccolares opened #22 "Painel de Médicos - Exibir delta considerando as metas do MS."

[2020-02-26 16:43] camilaccolares commented on #20
![foto_quadro_dr_marcelo](https://user-images.githubusercontent.com/58710064/75366756-ff9fe480-589d-11ea-9e2a-c2199837314e.jpg)

[2020-02-26 16:44] camilaccolares commented on #21
![foto_quadro_dr_marcelo](https://user-images.githubusercontent.com/58710064/75366810-16463b80-589e-11ea-9abe-aaf659feab3d.jpg)

[2020-02-26 16:44] camilaccolares commented on #22
![foto_quadro_dr_marcelo](https://user-images.githubusercontent.com/58710064/75366830-1e05e000-589e-11ea-9439-b242318e34a7.jpg)

[2020-02-26 16:49] camilaccolares opened #23 "Painel de profissionais em geral - Substituir as perguntas de vínculos por quantitativos."
- [ ] Mapa
- [x] Profissionais por município
- [x] Contagem por vinculo de estabelecimento
- [x] Vinculos profissionais por natureza jurídica
- [x] Contagem por detalhamento do vínculo (retirar)
- [x] Quantitativos de profissionais por gestão (retirar)

[2020-02-26 16:58] camilaccolares opened #24 "Painel de Médicos - Substituir as perguntas de vínculos por quantitativos"
- [x] Mapa
- [x] Vínculos profissionais por município

[2020-02-26 18:54] #24 closed

[2020-02-26 19:11] #20 closed

[2020-03-09 17:34] #23 closed

[2020-03-09 17:37] camilaccolares commented on #21
O metabase possui uma limitação que impede que uma mesma variável seja utilizada em mais de uma parte da consulta sql. Dessa forma, a taxa foi calculada usando como denominador a população total do Estado.

[2020-03-09 17:37] #21 closed

[2020-03-13 14:02] camilaccolares opened #25 "Painel no Metabase para CEATS"
Referente ao chamado OTRS ESPCE#20200206582891.

Solicito novo painel no metabase com as informações de hospitais polo, salas de estabilização e upas do estado e taxa de mortalidade por AVC e IAM.
As informações necessária já foram repassadas para a camila.

[2020-03-13 14:04] camilaccolares opened #26 "Painel no Metabase para Educação Permanente."

[2020-03-13 14:11] camilaccolares commented on #26
Elaborar painel demonstrativo da abrangência das capacitações sobre coronavírus realizadas no Ceará.
[dados Capacitação sobre Coronavírus.docx](https://github.com/EscolaDeSaudePublica/dataLab/files/4329969/dados.Capacitacao.sobre.Coronavirus.docx)

[2020-03-13 16:45] #26 closed

[2020-03-17 14:25] camilaccolares opened #27 "Relatório CEATS - Larissa"
- [x] Quantitativo de enfermeiros atuando na atenção básica no CE
- [x] Quantitativo de Médicos da ESF e GO atuando na atenção básica
- [x] Quantitativo de Médicos GO atuando nas policlínicas

[2020-03-17 14:50] camilaccolares commented on #27
[relatorio_ceats_larissa_17032020.xlsx](https://github.com/EscolaDeSaudePublica/dataLab/files/4343998/relatorio_ceats_larissa_17032020.xlsx)

[2020-03-17 14:50] #27 closed

[2020-04-22 13:32] camilaccolares opened #28 "Campos adicionais da API do IntegraSUS"
Gravar no banco do metabase os campos "obitoConfirmado" e "dataObito" provenientes da API do IntegraSUS.

[2021-11-16 13:05] janeteamaral opened #29 "Meus Conteúdos - Apresentar conteúdos personalizados para profissionais da área da Saúde"

[2021-11-16 13:18] janeteamaral opened #30 "Meus Conteúdos - Apresentar conteúdo personalizado para profissionais da saúde."
Apresentar conteúdos identificados pela "área de negócios" específica da ESP para a categoria/especialidade dos profissionais de Saúde.

A UX definida pelo Designlab já se encontra no figma, conforme apresentado a seguir:
![Slide2.JPG](https://images.zenhubusercontent.com/613b5ddea639049db13b61d9/ebc505e8-cc99-49f0-a895-2fcd9db9ee38).

Observar modelagem da base (já existente) para apresentar o mo

[2021-11-16 13:31] janeteamaral opened #31 "Meus Conteúdos - Indicação de conteúdos específicos (definidos pela ESP) para profissionais de saúde cadastrados no IDSaúde."

[2021-11-16 13:52] #31 closed

[2021-11-16 13:53] #30 closed

[2021-11-22 19:20] aislansf opened #32 "Estudar ferramentas de ETL"

[2021-11-22 19:24] aislansf opened #33 "[ MAPA ] Dashboard Força de Trabalho"
Material de referência: https://docs.google.com/document/d/1mVUm-M_T4lP0a46IrVesbD42fVwbBmXdUCbIX_i-NbY/edit?usp=sharing

- [x] Download e carga da base de dados do CNES
- [x] Download e carga da base de dados do CBO
- [x] Download e carga da base de dados populacionais (IBGE)
- [x] Corrigir termos duplicados da tabela CBO
- [x] Estratificação dos CBOs no banco
- [x] Verificar grafia dos município

[2021-11-22 19:27] aislansf opened #34 "[DATALAB] Criar DW"
- [x] Criar estrutura
- [x] Criar base de dados para cada projeto

[2021-11-23 11:51] camilaccolares commented on #32
Instalei o Pentaho Data Integration e o Talend Open Studio na minha máquina. Iniciando hoje o estudo comparativo das ferramentas.

[2021-11-23 19:10] aislansf commented on #33
Criei um script para converter a base dbc para csv utilizando a ferramenta R Studio, segue o script.

# Acessando diretório do arquivo DBC
setwd("~/Downloads/arquivo")

# Instalando pacote de leitura de arquivos DBC
install.packages("read.dbc")

# Chamando a biblioteca para uso
library(read.dbc)

# Adicionando uma nova variável carregada com o arquivo DBC
novo<-read.dbc("PFCE2110.dbc")

# Exibindo

[2021-11-23 19:15] aislansf commented on #33
Na atividade dos dados populacionais selecionar os dados mais atualizados e organizados por município

[2021-11-24 19:27] camilaccolares commented on #33
[LOCORREGIONALIZAÇÃO - PORTARIA 254, DE 25 DE AGOSTO DE 2020 DOU 374 - EDIÇÃO 165.xls](https://github.com/EscolaDeSaudePublica/dataLab/files/7598288/LOCORREGIONALIZACAO.-.PORTARIA.254.DE.25.DE.AGOSTO.DE.2020.DOU.374.-.EDICAO.165.xls)

[2021-11-29 19:55] aislansf commented on #33
Dashboard mapa http://metabase.esp.ce.gov.br/public/dashboard/3ddb5bd9-6fce-422b-934c-b9e6241b3342

[2021-11-30 19:39] #34 closed

[2021-11-30 19:40] aislansf opened #35 "[DATALAB] Fazer uma nova carga dos dados do CNES referente ao mês de JULHO de 2021"
É importante acessar esse link para baixar o CNES do mês de JULHO de 2021

https://datasus.saude.gov.br/transferencia-de-arquivos/

[2021-12-01 10:51] uira commented on #35
@aislansf Sobre isso, importante incluirmos essa questão na reunião de sexta, @CamilaColares, pra alinhar com a Inteligência de onde e como eles estão buscando os dados do CNES, pra termos a mesma estratégia e não corrermos o risco de retrabalho.

[2021-12-06 19:41] aislansf commented on #33
Tendo em vista que cosneguimos avançar com as informações que nos foram disponibilizadas já concluímos 11 atividades das 13. Então, a @camilaccolares vai entrar em contato com um time interno da ESP (CEATS) para conseguir as informações para finalizar as outras atividades. Até lá estamos com esse card nos impedimentos.

[2022-01-04 16:23] aislansf opened #36 "Correções no banco do ResCOVID"
Link para planilha com dados a corrigir: https://docs.google.com/spreadsheets/d/1bQHvIWjIcLZ0N5kLthGvoi82iLdHerm2h1mCvt9c7Rk/edit?usp=sharing

[2022-01-12 17:10] aislansf commented on #36
Aguardando o feedback do André Ribeiro.

[2022-02-11 17:24] aislansf opened #37 "Realizar mapeamento dos responsáveis pelos projetos e produtos da ESP"

[2022-02-14 11:59] aislansf opened #38 "Criar dashboard para ID Saúde"
Dashboard de referência
https://metabase.esp.ce.gov.br/public/dashboard/8f0d3137-c015-458c-adcb-f8373d40e2ed

[2022-02-16 17:17] aislansf opened #39 "Painel de Informações dos Chamados da ESP - Todos os dados, de todos os chamados, e mais detalhado das demandas de Sistemas"
- [x] Obter as credenciais de acesso à base do sistema de chamado
- [x] Instalar e configurar banco de dados MySQL
- [x] Criar o banco do sistema de chamado
- [x] Gerar modelo de dados do sistema de chamado
- [x] Estruturar o relacionamento das tabelas
- [x] Criar banco do sistema de chamado no DW
- [x] Criar estrutura de ETL para conectar com o DW do datalab
- [x] Adicionar banco do sistema de ch

[2022-02-17 11:42] aislansf commented on #33
@marameida esse é o card que o @uira comentou no telegram

[2022-02-17 18:21] marameida commented on #33
Feita solicitação por email para Educação Permanente quanto ao levantamento sobre todas as profissões de saúde, de índices indicados pelas recomendações internacionais (OMS e OPS) e nacionais (SUS).

[2022-02-17 18:28] aislansf opened #40 "Criar dashboard do RPES para o DW no ambiente de produção"
Atualmente o RPES utiliza o ambiente de homologação para representar os dados no dashboard criado no metabase. É importante migrar a estrutura para o ambiente de produção.

- [x] Criar banco de dados do RPES no DW
- [x] Criar uma cópia da base do RPES
- [x] Importar cópia da base no DW
- [x] Criar conexão da base RPES do DW no metabase de produção
- [x] Criar painel de dashboard do RPES no metabas

[2022-02-17 19:54] aislansf commented on #40
@marameida mais um card sobre o RPES

[2022-02-18 17:41] aislansf opened #41 "Coletar dados dos responsáveis dos produtos da ESP para identificar o uso de dashboard em seus produtos"

[2022-02-22 13:27] marameida commented on #41
Formulário enviado para gestores de produtos (email e telegram):
iSUS - Laysa
Mapa da Saúde - Thais
QualiQuiz - Ana Bruna
ID Saúde - Victor
SAGU - Victor
RPES - Samara
Portal Coronavírus - Washington
Elmo - Clarissa
Central do SUS - Daniel

No aguardo por retorno das informações.

[2022-02-22 13:35] marameida commented on #33
Reforçada a importância dessas referências. Solicitado abrir uma estória pra analisar esse documento e elencar gráficos, com análises que possam ser replicadas no mapa da saúde.

[2022-02-22 16:46] aislansf commented on #40
Novo link do dashboard do RPES no ambiente em produção...
Foi realizado uma nova carga dos dados para manter as informações na dashboard atualizadas

http://metabase.esp.ce.gov.br/public/dashboard/f70e2d8d-0355-481c-a3aa-a78980ebd9b7

[2022-02-22 19:14] aislansf commented on #39
Agendando reunião com o Rafael para entender melhor essa demanda.

[2022-02-23 11:00] uira commented on #40
@aislansf Carga de dados?

Não temos uma conexão direta?

[2022-02-23 11:02] uira commented on #33
@marameida

[2022-02-23 17:50] aislansf commented on #39
Conversa com o Rafa sobre o gerenciamento de chamadas de atendimento.

- Apresentação do sistema OTRS (Central de suporte)
- Limitações do OTRS em relação a geração de gráficos.
- Identificar quem gerencia o banco de dados do sistema OTRS
- Providenciar modelo de dados do OTRS
- Utilizar essa planilha como base para construção da dashboard no metabase
https://docs.google.com/spreadsheets/d/1KIS1lu

[2022-02-24 12:37] marameida opened #42 "Construção da EAP - DATALAB"
# Objetivo

**Eu como**equipe DATALAB
**Quero** dar início à construção da EAP
**Para que** possam ser definidos objetivos e planejamento das atividades posteriores.

# Contexto
## O que originou
- O DATALAB está organizando suas atividades, atendendo atualmente livre demanda. Necessário planejamento das necessidades futuras, ampliando seu escopo de atuação.

## Qual solução proposta
-[] Elaboraçã

[2022-02-24 12:38] marameida commented on #42
Termo de abertura em construção:
https://docs.google.com/document/d/17rqQTqENraWuMuDJ7ShBPuUhix6neP5u/edit

[2022-02-25 01:05] uira commented on #42
@marameida De onde veio essa demanda?

Importante, antes disso, conversar com o time de projetos, pra identificar as demandas de Ciência de Dados dos projetos que estão em execução, pq são os objetivos atuais do datalab.

[2022-02-25 14:52] marameida commented on #42
Oi Uirá, conversaremos sim. A intenção é alinhar os objetivos dos projetos/produtos com as possibilidades de contribuição do datalab.

[2022-02-28 19:18] marameida opened #43 "Elaboração de ficha avaliativa pré e pós implantação de dashboards:"
- Tomada de decisão sobre os dados
- Valor/importância
- Experiência do usuário sobre dashboard
- Frequência de uso

Quais perguntas podemos fazer que respondam esses pontos?
Fica o questionamento para reflexão...

[2022-02-28 19:30] marameida opened #44 "Implementar ficha avaliativa pré e pós implantação de dashbards"
**Eu como**equipe DATALAB
**Quero** elaborar ficha avaliativa
**Para que** possa ser aplicada nos momentos pré e pós implantação de dashboards.

# Contexto
## O que originou
A ficha avaliativa permitirá um retorno comparativo nos momentos antes e após implantação dos painéis de indicadores demandados.

## Qual solução proposta
- [x ]  Pesquisa Bibliográfica para modelos existentes
- [x ] Adaptação

[2022-03-01 17:17] marameida commented on #44
Elaboração de ficha pós implementação (em refinamento):
https://docs.google.com/document/d/1PjrnH01zXLcAofqdf7QfmhYIX9eGqfQICj2c94BWnq8/edit

[2022-03-02 12:05] aislansf commented on #39
Aguardando informações do @rmadev-master  de acesso ao banco do SISTEMA OTRS

[2022-03-02 15:50] aislansf commented on #39
Utilizar credenciais de acesso

Link do sistema:
https://centraldesuporte.esp.ce.gov.br/otrs/customer.pl?Action=CustomerTicketMessage

[2022-03-04 11:47] aislansf commented on #42
Aguardando os encaminhamentos da reunião com a Gabi e o Alexandre.

[2022-03-04 14:31] marameida commented on #33
Encaminhada resposta por email da Educação Permanente. A mesma referiu não ter essas informações compiladas e pela demanda do serviço sua equipe não poderá fazer esse levantamento no momento. Sugeriu algumas referências por categoria. @uira @aislansf

[2022-03-04 14:35] uira commented on #33
@marameida Beleza. Vamos então avançar pra liberar o dashboard pra produção.

Precisamos marcar uma reunião para apresentação e aprovação, com o Cisec e a Diretoria de Educação.  Por favor, Samara Mesquita , pode falar com a Flavianne, para agendar

[2022-03-04 14:37] marameida commented on #33
Ok, ciente.

[2022-03-04 14:53] marameida commented on #41
Formulário aplicado. Planilha de respostas.
https://docs.google.com/spreadsheets/d/10l4DO6Ww1G6BhsdXYD2UTwVZBK1P3LQ5RABEwBJEZMA/edit#gid=305718107

[2022-03-04 14:54] #41 closed

[2022-03-04 14:58] marameida commented on #42
Encaminhamentos da reunião com Time de Projetos:
- Ver realidade do Cisec sobre dados
- Integração e migração REDMINE x DATALAB
- Agendar reunião com líderes de pojetos (Mapas e Soluções - Prioridade)

[2022-03-04 18:59] marameida commented on #33
Análise de referência:
https://drive.google.com/file/d/1dYZMpH0-ZlEg_s4bTvd0ZvfeLjVbl7Ln/view?usp=sharing

[2022-03-08 18:37] marameida opened #45 "Acompanhamento de Atividade DATALAB"
Descrição dos resumos de atividades do DATALAB

[2022-03-08 18:37] marameida opened #46 "Links e sites de Referência"

[2022-03-08 18:41] marameida opened #47 "Pesquisa DATALAB"

[2022-03-08 18:41] marameida opened #48 "Integração projetos/produtos"

[2022-03-08 18:41] marameida opened #49 "Mapeamento Demandas DATALAB"

[2022-03-08 18:52] marameida commented on #33
Reunião solicitada por intermédio da Flaviane (por telegram e email). No aguardo por disponibilidade e retorno.

[2022-03-08 19:05] marameida opened #50 "Integrar DATALAB com REDMINE"

[2022-03-08 19:24] marameida opened #51 "Gerar board de atividades do DATALAB no REDMINE"
**Eu como** equipe DATALAB
**Quero** integrar DATALAB ao REDMINE
**Para que** as atividades de gestão possam ser acompanhadas por esse recurso

# Contexto
## O que originou
- Atualmente o DATALAB tem suas atividades em board único no github.

## Qual solução proposta
- [ ] Iniciar processo de migração alinhado com equipe de projetos

# Critérios de aceitação

- [ ] **Dado que** com a integração
**

[2022-03-08 19:40] marameida opened #52 "Realizar processo do DATALAB junto aos gestores do REDMINE"
**Eu como** equipe DATALAB
**Quero** implementar as etapas do DATALAB junto aos gestores do REDMINE
**Para que** os mesmos consigam monitorar as métricas e indicadores de seus proejtos e produtos.

# Contexto
## O que originou
- No momento não há acompanhando dessas informações a nível de dashboard de dados.

## Qual solução proposta
- [ ] Reconhecimento de EAP
- [ ] Definição de Épicos
- [ ] Prio

[2022-03-09 13:31] marameida opened #53 "Alinhar com os gestores que atividades da EAP de cada projeto/produto podem ser atribuídas ao DATALAB."
**Eu como** equipe DATALAB
**Quero** refinar com gestores suas demandas
**Para que** possam estar alinhadas com o programado nas EAPs.

# Contexto
## O que originou
- As necessidades dos projetos e produtos ainda chegam ao DATALAB de forma aleatória e por livre demanda.

## Qual solução proposta
- [x] Alinhar necessidades de acordo com EAP dos projetos e produtos;
- [x] Desenvolver critérios de pr

[2022-03-09 14:32] JesseOliveiraUFC commented on #44
Elaborada uma sugestão de questão relacionada a quais condições de trabalho melhoraram após o uso da Dashboard em diferentes tópicos (questão 13) [aberta a sugesstões].

[2022-03-09 14:52] marameida opened #54 "Falar com CISEC sobre como é feito seu fluxo de trabalho;"
**Eu como** equipe DATALAB
**Quero** reconhecer o fluxo de trabalho com dados do CISEC
**Para que** o DATALAB possa trabalhar de forma integrada com o respectivo setor da ESP/CE

# Contexto
## O que originou
- O Centro de Inteligência em Saúde do Ceará (CISEC), coordenado pelo cientista-chefe da Saúde José Xavier, foi criado para capturar, processar e analisar as informações relevantes à saúde da

[2022-03-09 15:04] marameida opened #55 "Elaborar o fluxograma de levantamento de requisitos/entregas - DATALAB"
**Eu como** equipe DATALAB
**Quero** elaborar o fluxograma de levantamento de requisitos/entregas
**Para** organizar processo de trabalho do DATALAB

# Contexto
## O que originou
- Ainda não existe um fluxograma formalizado de etapas para levantamento de requisitos/entregas.

## Qual solução proposta
Sugestão de etapas iniciais:
- [ ] Reconhecimento de EAP
- [ ] Definição de Épicos
- [ ] Priorizaç

[2022-03-10 13:32] marameida commented on #44
Questionário comparativo em elaboração:
https://docs.google.com/document/d/1ngsG0NYecWYQKA25M3mFjzk6Qxgx6yexv5yShnoASG0/edit

[2022-03-10 14:21] JesseOliveiraUFC commented on #44
Elaboradas duas novas perguntas acerca da usabilidade e interesse dos gestores na dashboard.

[2022-03-10 19:10] marameida commented on #44
Instrumentos validados por equipe DATALAB. Ver possibilidade de inclusão no Mapas:

FORMULÁRIO DE AVALIAÇÃO PARA USABILIDADE
DE DASHBOARD- DATALAB:
https://docs.google.com/document/d/1ngsG0NYecWYQKA25M3mFjzk6Qxgx6yexv5yShnoASG0/edit
FORMULÁRIO DE AVALIAÇÃO COMPARATIVA: https://docs.google.com/document/d/1PjrnH01zXLcAofqdf7QfmhYIX9eGqfQICj2c94BWnq8/edit

[2022-03-11 00:31] aislansf commented on #39
![otrs](https://user-images.githubusercontent.com/59830577/157778527-48bf0abf-78d8-45c1-ad42-f5d6b7fe0f18.jpg)

[2022-03-11 14:15] aislansf commented on #39
Vou precisar construir um material investigativo das tabelas do sistema OTRS para identificar os relacionamentos entre elas, pois, as tabelas não possuem relacionamento com chave estrageiras (FK), isso impossibilita gerar uma visualização com esses relacionamentos. Analisando o sistema esse relacionamento entre as tabelas é feito no back-end do sistema. O foco é identificar as tabelas que responde

[2022-03-11 15:05] marameida commented on #33
**Reunião com Dra Alice e equipe para validação interna (11/03):**

**Sugestões levantadas:**
- Discussão sobre estratégias para auxiliar no processo de atualização dos dados do CNES;
- Sobre as categorias inicialmente avaliadas, serão mantidas somente essas?;
- Para os profissionais cadastrados em mais de um local: duplicidade?
- Detalhamento das profissões (especialidades médicas?)
- Verificar s

[2022-03-11 17:54] marameida commented on #53
Reunião com Projeto Mapas (@thaistoscano )

Pontos da EAP:
- Espaços de saúde
- Profissionais de saúde
- Territórios
- Seleções ESP

Sugestão:
@JesseOliveiraUFC  Gerar Relatório de direcionamento/ refinamento do épico para cada necessidade sinalizada acima. Ver modelo: https://docs.google.com/document/d/1mVUm-M_T4lP0a46IrVesbD42fVwbBmXdUCbIX_i-NbY/edit

[2022-03-11 18:17] marameida commented on #45
SEMANA 21 A 25/02
- [x] Reconhecimento das atividades previamente implementadas;
- [x] Finalização do dashboard do RPES;

SEMANA 28 A 04/03
- [x] Elaboração do termo de abertura (definição de objetivos, justificativa, escopo de atuação);
- [x] Desenvolvimento e aplicação de formulário para mapeamento de interesse com gestores de produtos;
- [x] Reunião com Time de Projetos para alinhamento de nece

[2022-03-11 19:44] marameida commented on #55
https://drive.google.com/drive/folders/13cA_4kQwEByrleYR_V_VL9xAqVpcPK4T

[2022-03-11 19:49] aislansf commented on #39
![mapeamento_otrs](https://user-images.githubusercontent.com/59830577/157948155-054c0955-9f17-49d2-90dc-ab4c19d9f7a1.JPG)

[2022-03-15 17:50] marameida commented on #55
Fluxograma: https://app.diagrams.net/#G1RhALMZGVcq1XxU4L4NVJOLWvlgZaVLu-

[2022-03-15 18:17] JesseOliveiraUFC opened #56 "Acompanhamento de Atividades JESSÉ"
Descrições detalhadas das atividades desenvolvidas:

[2022-03-15 18:25] JesseOliveiraUFC commented on #56
Semana 14 - 18 Mar

[x] Reconhecimento das ferramentas utilizadas.
[x] Reprodução do Dashboard utilizando dados do cnes previamente organizados.
[x] Estudo de visualizações mais elaboradas dos dados do cnes.
[x] Estudo e Implementação de novas visualizações dos dados do cnes.

[2022-03-16 12:45] marameida opened #57 "Mapas"
Pontos da EAP:
- Espaços de saúde
- Profissionais de saúde
- Territórios
- Seleções ESP

Sugestão:
Gerar Relatório de direcionamento/ refinamento do épico para cada necessidade sinalizada acima. Ver modelo: https://docs.google.com/document/d/1mVUm-M_T4lP0a46IrVesbD42fVwbBmXdUCbIX_i-NbY/edit

[2022-03-16 12:45] marameida opened #58 "Soluções Digitais"

[2022-03-16 12:45] marameida opened #59 "iSUS"

[2022-03-16 12:52] JesseOliveiraUFC commented on #56
Reunião de integração e reconhecimento do Mapa da Saúde com a @luannaalves e análise e compreensão de novas demandas para do DataLab.

[2022-03-16 13:07] #55 closed, assigned to nobody

[2022-03-16 13:26] #36 closed

[2022-03-16 13:26] #40 closed

[2022-03-16 13:26] #37 closed

[2022-03-16 13:35] marameida commented on #43
Instrumentos validados por equipe DATALAB. Ver possibilidade de inclusão no Mapas:

FORMULÁRIO DE AVALIAÇÃO PARA USABILIDADE
DE DASHBOARD- DATALAB:
https://docs.google.com/document/d/1ngsG0NYecWYQKA25M3mFjzk6Qxgx6yexv5yShnoASG0/edit
FORMULÁRIO DE AVALIAÇÃO COMPARATIVA: https://docs.google.com/document/d/1PjrnH01zXLcAofqdf7QfmhYIX9eGqfQICj2c94BWnq8/edit

[2022-03-16 13:35] #43 closed, assigned to aislansf, marameida

[2022-03-16 13:47] marameida opened #60 "Fazer integração do github com zenhub"
# Objetivo

*Eu como*  equipe Datalab
*Quero* migrar board de atividades do Datalab para o zenhub
*Para que* as atividades possam ser gerenciadas usufruindo de mais funcionalidades.

# Contexto
## O que originou
- Atualmente o Datalab apresenta board de atividades somente no github.

## Qual solução proposta
- Iniciar processo de migração e organização das atividades para platafoma Zenhub

# Crité

[2022-03-16 13:49] marameida commented on #60
O board foi migrado com a orientação de @victorMagalhaesPacheco. Em processo de atualização das issues.

[2022-03-16 13:59] marameida opened #61 "Implementar ETL no banco do iSUS, coletando os quizes disponíveis."

[2022-03-16 14:00] marameida opened #62 "Criar documentação para construir novos ETLs para os projetos."

[2022-03-16 14:02] marameida opened #63 "Implementar ETL no banco do iSUS, coletando os quizes disponíveis."
Eu como: equipe Datalab
Quero  Implementar ETL no banco do iSUS, coletando os quizes disponíveis
Para tornar o fluxo mais automático.

[2022-03-16 14:02] marameida opened #64 "Criar documentação para construir novos ETLs para os projetos."

[2022-03-16 14:05] marameida commented on #60
Confirmar classificação de "issues para verificação"

[2022-03-16 14:15] marameida commented on #56
Hey @JesseOliveiraUFC I’m using ZenHub in GitHub, [click this link](https://app.zenhub.com/workspaces/datalab-6231e072c248310015b9dd3d/board) to join my workspace and see other features available in GitHub or [download the ZenHub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [ZenHub](https://www.zenhub.com)_

[2022-03-16 14:27] marameida opened #65 "Organização do processo de trabalho"

[2022-03-16 14:45] marameida opened #66 "Id Saúde"

[2022-03-16 19:21] aislansf commented on #39
O produto JURÍDICO não contém dentro da base do sistema de chamados na coluna serviços...

[2022-03-16 20:04] aislansf commented on #44
Passo a passo para criar uma oportunidade no MAPA.

Faz login > meu perfil > meu projetos > adicionar novo projeto > preencha os dados > completar edição agora > aba oportunidades > criar oportunidade > avaliação simplificada > preenche os dados e adiciona os campos do formulário > clica no botão salva (publicar) > feito!

[2022-03-18 12:42] JesseOliveiraUFC commented on #14
A página da Wikipedia (referenciada abaixo) faz essa visualização dos municípios por IDH-M. Ela usa uma base de dados de 2010 cuja fonte é o site undp Brasil (www.br.undp.gov). Pelo que eu entendi essa é a base de dados mais atual. Vou providenciar uma visualização mais personalizada desses dados.

Página de Referência:
https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_do_Cear%C3%A1_por_IDH-M

[2022-03-18 18:59] marameida opened #67 "Sistemas Legados"

[2022-03-18 19:06] marameida commented on #44
Iniciado processo de inclusão de formulários no Mapas.
https://mapa.sus.ce.gov.br/oportunidades/edita/244/
-[x] Formulário Pré Implementação

[2022-03-18 19:19] marameida commented on #45
SEMANA 21 A 25/02
- [x] Reconhecimento das atividades previamente implementadas;
- [x] Finalização do dashboard do RPES

SEMANA 28 A 04/03
- [x] Elaboração do termo de abertura (definição de objetivos, justificativa, escopo de atuação);
- [x] Desenvolvimento e aplicação de formulário para mapeamento de interesse com gestores de produtos;
- [x] Reunião com Time de Projetos para alinhamento de neces

[2022-03-21 12:37] JesseOliveiraUFC commented on #14
Segue a Dashboard de visualização dos municípios pelo IDH.

https://metabase.esp.ce.gov.br/public/dashboard/f247327b-9107-48dd-9079-f4926cd62b52

* É possível observar todos os municípios com seus respectivos IDH.
* É possível observar os percentuais dos municípios em cada faixa do IDH.
* É possível observar os 4 primeiros municípios com maiores e menores IDH.

[2022-03-21 14:49] JesseOliveiraUFC commented on #56
Iniciado estudo sobre ETL para aplicações futuras nos mais diversos Bancos de Dados do DataLab.

[2022-03-22 14:21] marameida commented on #39
Agendada reunião para validação de dashboard com @rmadev-master.
Data: 23/03
Horário: 14h

[2022-03-22 14:23] marameida commented on #60
Integração finalizada

[2022-03-22 14:23] marameida commented on #60
Integração finalizada

[2022-03-22 14:23] #60 closed, assigned to aislansf, marameida

[2022-03-22 14:25] marameida commented on #33
No aguardo por melhor direcionamento junto ao CISEC, conforme devolutiva da gestão.

[2022-03-22 14:41] marameida commented on #33
@JesseOliveiraUFC irá sugerir disponibilização do dashboard no Mapa.

[2022-03-23 17:22] aislansf commented on #39
Dashboard:
https://metabase.esp.ce.gov.br/public/dashboard/0950a630-b91a-48be-be7a-fd5338880182

As informações do banco do sistema de chamado devem ser atualizadas a cada 1hrs seguindo a necessidade do @rmadev-master.

[2022-03-23 17:56] aislansf commented on #39
Apresentação:
https://docs.google.com/presentation/d/1TmY8kOb5ij7BcFyZk6_Uu3EOOOeQZygBK2piOsd-Ln4/edit#slide=id.g11e2fe2850d_0_47

Documentação para segunda versão do dashboard:
https://docs.google.com/document/d/1ggbVmOmrdNQCxwlutLWKu9Jcbh5Sc8_v-ks8_OlWMUw/edit

Recursos para a dashboard da segunda versão.
- Quantos chamados por setor solicitante
- Adicionar filtro por solicitante, setor, serviço

[2022-03-23 18:14] aislansf commented on #50
Tutorial do redmine
https://docs.google.com/document/d/1bFr0sVJpDCph16_53s8E5zKZEmX1ECVDiperKxBVDSM/edit

[2022-03-28 10:41] aislansf opened #68 "Dashboard Sistema de chamados - 2ª Versão"
**1ª Versão do dashboard:**
https://metabase.esp.ce.gov.br/public/dashboard/0950a630-b91a-48be-be7a-fd5338880182

Rercusos para a **2ª versão** do dashboard

- [x] Adicionar gráfico que contabilize o quantitativo dos chamados por setor solicitante
- [x] Adicionar filtro por solicitante, setor, serviços, produtos e nível de prioridade
- [x] Ranking de chamados por atendentes
- [x] Identificar a pos

[2022-03-28 10:47] aislansf opened #69 "Dashboard do qualiquiz - 2ª versão"
**1ª versão do dashboard:**
https://metabase.esp.ce.gov.br/public/dashboard/5625fd38-bd17-4638-8545-993adfb01824

Encaminhamentos da reunião com Dr Batista para a **2ª versão do dashboard** do qualiquiz
- [x] Listar as perguntas passando com o mouse.
- [x] Colocar período (filtro por período)
- [x] Adicionar gráfico para mensurar volume de respostas ao longo do tempo
- [x] Adicionar gráfico que in

[2022-03-28 10:53] aislansf opened #70 "Estruturar ETL automático"
Atualmente os processos de ETL estão rodando manualmente em máquinas locais, isso impossibilita a escala e automatização do processo de extração, tranformação e carregamento dos dados.

Nesse momento se faz necessário desenhar uma infra para compor esse processo e tornar o fluxo mais automático.

[2022-03-28 10:56] aislansf commented on #70
Estou alinhando com o @fwandson uma infra que possa suportar nossa necessidade quanto datalab no processo de automatizar os ETLs desenvolvidos

[2022-03-28 12:22] JesseOliveiraUFC commented on #56
Alinhado em reuniao com @victorMagalhaesPacheco e @luannaalves a espera das definições de demandas de produto após as definições das atividades nas reuniões de Inception.

[2022-03-28 13:22] marameida commented on #33
No momento a disponibilização do dashboard ficará no aguardo pelos encaminhamentos  resultantes da inception. Orientação da equipe do Mapas.

[2022-03-28 18:11] fwandson commented on #70
Importante, @aislansf  levantarmos as necessidades, requisitos e ferramentas que iremos utilizar nesse processo. Uma avaliação considerável para buscarmos automação, disponibilidade, escalabilidade e principalmente segurança.

[2022-03-28 19:55] #44 closed, assigned to aislansf, marameida

[2022-03-28 19:55] marameida commented on #44
Incluídos os três formulários avaliativos no mapas:
https://mapa.sus.ce.gov.br/oportunidades/edita/258/
- [x] Formulário Pré Implementação
- [x] Formulário Pós Implementação
- [x] Formulário de Usabilidade

[2022-03-28 23:18] aislansf commented on #69
A atividade gerar planilha/relatório dos dados deve ser colada em uma issue separada, atualmente para baixar os arquivos do resultado da pesquisa deve-se disponibilizar um acesso ao metabase e essa liberação pode ocasionar um problema caso o usuário altere algum script do banco. Neste caso, é importante analisar outra estratégia para gerar o relatório dos dados.

[2022-03-28 23:19] aislansf commented on #69
Finalizei a estrutura do ETL para aplicação do Qualiquiz, respondendo as peguntas feitas pelo Dr. Batista e a Natana.

[https://app.zenhub.com/files/240087549/d66a3008-7143-476e-8cb5-62322494ec49/download](https://app.zenhub.com/files/240087549/d66a3008-7143-476e-8cb5-62322494ec49/download)

[2022-03-28 23:40] aislansf commented on #69
Link da versão atualizada do dashboard da versão 2:
https://metabase.esp.ce.gov.br/public/dashboard/5625fd38-bd17-4638-8545-993adfb01824

[2022-03-29 00:42] JesseOliveiraUFC commented on #69
Seria interessante na 2a versão do dashboard que na aba de tempo médio de resposta tivesse a unidade, pois não ficou claro se é em minutos ou não.

[2022-03-29 00:48] aislansf commented on #69
@JesseOliveiraUFC bem observado! Vou adicionar o termo minutos

[2022-03-29 11:41] JesseOliveiraUFC commented on #56
Dada continuidade nos processos de aprendizado da ferramenta ETL com uso do Pentaho no processo de automatização das conexões entre as bases de dados.
Materia do curso abordado: https://www.youtube.com/watch?v=GxqOuZjwTkU&list=PLFVsvpCNEKjfhUIO_emVDN3e9_x8p77up

[2022-03-29 18:29] marameida commented on #51
Board gerado. Em processo de organização.
http://projetos.esp.ce.gov.br/projects/tatico-felicilab-datalab

[2022-03-29 19:11] marameida commented on #45
SEMANA 28/03 A 01/04
- [x] Atualização de Board Datalab/ integração com Workflow do DesignLab;
- [x] Participação de Planejamento do Evento "Diagnóstico de Oportunidades para a Plataforma Mapa da Saúde";
- [x] Integração do Datalab com Redmine;
- [x] Estudo de ferramentas ETL;
- [x] Dashborad 2ª versão Qualiquiz;

[2022-03-29 19:28] marameida commented on #53
No aguardo por encaminhamentos pós inception de produtos.

[2022-03-30 13:57] aislansf commented on #69
Dashboard disponibilizado para validação e a atividade de gerar relatório dos dados precisa realizar um estudo para identificar a melhor forma de disponibilizar os dados já que no metabase não é possível por link público.

[2022-03-30 15:26] aislansf opened #71 "Gerar planilha/relatório dos dados a partir da dashboard do qualiquiz"
[Dashboard de referência de dados](https://metabase.esp.ce.gov.br/public/dashboard/5625fd38-bd17-4638-8545-993adfb01824?quiz=Abordagem%20Inicial%20do%20Paciente%20com%20S%C3%ADndrome%20Gripal):

Eu como: equipe Datalab
Quero Gerar planilha/relatório dos dados a partir da dashboard do qualiquiz.
Para melhorar apresentação de respostas do instrumento em questão

[2022-03-31 12:12] marameida commented on #53
Sugestão da equipe:
- Incluir coluna "Datalab" nos boards dos produtos para conectar à coluna "In progress" no workflow do board Datalab.

[2022-03-31 12:41] marameida opened #72 "Incluir no fluxograma do Datalab a integração dos boards entre os produtos"
**Eu como** equipe DATALAB
**Quero** incluir no fluxograma de implementação a fase de integração entre os boards de produtos
**Para que** possamos facilitar a conclusão das entregas.

# Contexto
## O que originou
- As demandas dos produtos atualmente são registradas em boards separados (produto e Datalab);

## Qual solução proposta
- [x] Registrar etapas de integração de boards no fluxograma padro

[2022-03-31 13:01] marameida opened #73 "Incluir nos formulários avaliativos perguntas referentes a perfil de indicadores e bancos existentes."
**Eu como** equipe DATALAB
**Quero** incluir nos formulários avaliativos perguntas referentes a perfil de indicadores e bancos existentes
**Para que** possamos ter um melhor mapeamento das necessidades

# Contexto
## O que originou
- Os formulários de diagnóstico de necessidades e avaliação estão em fase de construção. Algumas questões podem ser inclusas facilitando o levantamento de detalhes rele

[2022-03-31 13:03] marameida commented on #51
Tutorial do redmine
https://docs.google.com/document/d/1bFr0sVJpDCph16_53s8E5zKZEmX1ECVDiperKxBVDSM/edit

[2022-03-31 13:03] #51 closed, assigned to aislansf, marameida

[2022-03-31 13:06] marameida commented on #50
Processo iniciado. Criado usuários da equipe juntamente com @rmadev-master. No aguardo por treinamento complementar, comentado pelo time de Projetos, para que seja possível melhor reconhecimento das funções.

[2022-03-31 13:06] #50 closed, assigned to aislansf, marameida

[2022-03-31 13:35] marameida opened #74 "Iniciar escrita do DATALAB para publicação"
**Eu como** equipe DATALAB
**Quero** iniciar organização de escrita sobre o Laboratório de Dados
**Para que** seja possível publicação dos dados já trabalhados.

# Contexto
## O que originou
- O Datalab está organizando seu processo de trabalho e já apresenta entregas possibilitando compilação de resultados.

## Qual solução proposta
- [ ] Definir escopo da escrita
- [ ] Iniciar esboço
- [ ] Tabul

[2022-03-31 13:38] marameida opened #75 "Iniciar escrita do DATALAB para publicação"
**Eu como** equipe DATALAB
**Quero** iniciar organização de escrita sobre o Laboratório de Dados
**Para que** seja possível publicação dos dados já trabalhados.

# Contexto
## O que originou
- O Datalab está organizando seu processo de trabalho e já apresenta entregas possibilitando compilação de resultados.

## Qual solução proposta
- [ ] Definir escopo da escrita
- [ ] Iniciar esboço
- [ ] Tabul

[2022-03-31 13:43] #74 closed, assigned to aislansf, marameida, JesseOliveiraUFC

[2022-03-31 13:44] marameida commented on #74
Issue duplicada.

[2022-03-31 19:12] marameida commented on #54
Reconhecimento do CISEC (Aislan). Levantamento dos dados já compilados sobre a Pesquisa de Força de Trabalho. Sugerido focar nas referências do IDEAL para as profissões solicitadas.

[2022-03-31 19:15] #54 closed, assigned to aislansf, marameida

[2022-04-01 13:01] aislansf opened #76 "Mapeamento do cenário ideal dos profissionais da Saúde"
Eu como: equipe DATALAB
Quero: mapear o cenário ideal dos profissionais de saúde.
Para que: seja inserido em dashboard da força de trabalho.

[2022-04-01 17:42] marameida commented on #76
https://docs.google.com/spreadsheets/d/1s9TIDc75nA9G0G-TGggoU40WN1MY5dWYofj6MTz40rM/edit#gid=0

[2022-04-01 17:49] aislansf commented on #76
[https://app.zenhub.com/files/240087549/9e68937a-ad2e-4576-861f-2217a624fcd9/download](https://app.zenhub.com/files/240087549/9e68937a-ad2e-4576-861f-2217a624fcd9/download)

[https://app.zenhub.com/files/240087549/c03a5b1b-9844-45d3-8483-01c03548d1aa/download](https://app.zenhub.com/files/240087549/c03a5b1b-9844-45d3-8483-01c03548d1aa/download)

[https://app.zenhub.com/files/240087549/88ca3189-334

[2022-04-01 17:54] marameida commented on #69
Atividade concluída com validação da Natana e Dr Batista.

[2022-04-01 17:54] #69 closed, assigned to aislansf

[2022-04-01 18:02] aislansf commented on #33
@uira entramos em contato com o CISEC sobre as contribuições que poderíamos realizar entre DATALAB  e CISEC. Ficamos com o direcionamento de fortalecer os esforços no cenário ideal dos profissionais da força de trabalho. Para encerrarmos esse card sobre o que nós já desenvolvemos precisamos da validação final do Dr. Marcelo, porém, em uma conversa com a Flaviane e a Dra. Alice é que nesse momento

[2022-04-01 18:19] marameida commented on #35
Essa demanda está a cargo do CISEC.

[2022-04-04 12:21] JesseOliveiraUFC commented on #76
Após a realização inicial da Revisão Sistemática da Literatura (RSL) foram selecionados alguns trabalhos referências na área (anexados a seguir). Dentre eles estão artigos científicos, resolução de conselhos e documentos oficiais do Ministério da Saúde.

Realizadas essas etapas iniciais, será iniciada a análise sistemáticas das referências e em seguida a escrita dos resumos iniciais.

[https://app

[2022-04-04 13:12] marameida commented on #76
Ótimo. Segue link para compilarmos esses resultados:
https://docs.google.com/spreadsheets/d/1s9TIDc75nA9G0G-TGggoU40WN1MY5dWYofj6MTz40rM/edit#gid=0

Sugestão: incluir arquivos no drive do Datalab: https://drive.google.com/drive/folders/1kgbd34abiYsEWH9roZRKMdqBAIxt9HeQ

[2022-04-04 13:14] marameida commented on #53
Conversado em reunião de PLANEJAMENTO DE PRODUTOS sobre a inclusão de coluna do datalab nos boards dos produtos.
Sugestão: Conectar coluna "Datalab" (board produtos) com coluna "Refinamento" (board Datalab).

[2022-04-04 13:39] JesseOliveiraUFC commented on #76
Seguindo a sugestão feita, os arquivos foram subidos para a página do Google Drive e podem ser acessados para as devidas consultas.

Página dos arquivos no Drive: https://drive.google.com/drive/u/2/folders/1kgbd34abiYsEWH9roZRKMdqBAIxt9HeQ

[2022-04-04 18:04] #72 closed, assigned to marameida

[2022-04-04 18:04] marameida commented on #72
Feito:
https://app.diagrams.net/#G1RhALMZGVcq1XxU4L4NVJOLWvlgZaVLu-

[2022-04-04 18:15] marameida commented on #53
Feita conexão de workflow com iSUS.

[2022-04-04 19:26] marameida commented on #75
Iniciada:
https://docs.google.com/document/d/1eHQ8AFWVbCliEHynoo4bFxbf-PtsDcghynlkn5EByss/edit

[2022-04-04 19:52] uira commented on #75
@marameida Do que se trata essa inscrição?

[2022-04-04 19:53] uira commented on #76
@JesseOliveiraUFC Gente, por favor, não avancem nessa atividade antes de fazermos um alinhamento. Ela não foi priorizada ainda.

[2022-04-04 19:54] uira commented on #35
@marameida Isso só deve ser feito com dados fornecidos pelo CISEC

[2022-04-04 19:58] uira commented on #33
@aislansf Essa atividade não é do Marcelo, e sim do projeto Mapa da Saúde, prevista na EAP e nas entregas e resultados esperados. Logo, deve ser finalizada e é prioritária.

Ela deve ser finalizada COM URGENCIA, configurando para puxar os dados à partir do Mapa da Saúde, pra que seja um board em tempo real dos dados do Mapa.

Depois de concluido, deve ser incluída no painel de indicadores do Mapa

[2022-04-04 20:01] uira commented on #69
@marameida Favor enviar o link do dashboard para o Grupão, solicitando testes, feedback e divulgação do time de narrativas/ Ascom

[2022-04-04 20:03] uira commented on #76
@marameida

[2022-04-04 20:06] uira commented on #76
@aislansf

[2022-04-04 20:33] aislansf commented on #76
Entendo que houve uma preocupação quanto a essa demanda, mas ela está sendo tocada, devido a inception do produto mapa, então, o @JesseOliveiraUFC está avançado nesse estudo complementar ao da força de trabalho já que o documento base construído por @uira, Camila, @thaistoscano e @RaniGub na demanda 4 tem esse questionamento: "Como nos comparamos com as recomendações internacionais (OMS, OPAS) e n

[2022-04-04 20:42] aislansf commented on #69
@uira Dr. Batista e a Natana deseja uma planilha com os dados do dashboard do qualiquiz, porém, no metabase só é possível compartilhar de forma pública os gráficos da dashboard para gerar um relatório desses dados não é possível pelo metabase. O Dr. Batista e a Natana deseja aplicar um filtro ver os gráficos da dashboard e fazer um download do resultado do filtro em uma planilha para realizar anál

[2022-04-05 03:44] uira commented on #76
@aislansf Entendi o raciocíonio, mas mantenho a posição de não avançarmos nessa atividade.

Temos outras demandas mais prioritárias do que essa, e o contexto daquele documento, nem é definidor, como uma EAP, e também o contexto mudou, desde o período em que ele foi analisado.

Nosso foco agora é integrar novos dados com o Mapa e criar novas visualizações dos DADOS DO MAPA

[2022-04-05 03:49] uira commented on #2
#Deamanda

[2022-04-05 03:51] uira commented on #5
#Demanda

[2022-04-05 03:54] uira commented on #7
Isso já foi feito, né @aislansf ?

[2022-04-05 03:54] #7 closed

[2022-04-05 03:56] uira commented on #10
A primeira parte foi implementada, mas a demanda da criação de uma Interface Analytica, serve aberta e deve ser observada para inclusão no projeto Cuidar Melhor, @thaistoscano @gabrieladamarques

[2022-04-05 03:59] uira commented on #22
https://github.com/EscolaDeSaudePublica/dataLab/issues/11

[2022-04-05 04:00] #29 closed

[2022-04-05 04:06] uira commented on #35
Relacionar aqui a demanda de Atualizar o Mapa a partir dos dados do CNES fornecidos pelo CISEC

[2022-04-05 16:10] aislansf commented on #33
Alinhando com o @victorMagalhaesPacheco vimos a necessidade de priorizarmos no mapa a inclusão do cadastro do CNS do profissional, tendo em vista que atualmente pode existir a duplicidade dos dados. Por exemplo o Dr. Marcelo fez seu cadastro no mapa e possui cadastro na base do CNES, quando ocorro a atualização dos dados do que CNES no mapa é resgatado essas informações do Dr. Marcelo, gerando dup

[2022-04-08 11:58] marameida opened #77 "Compartilhar pasta do Datalab no google drive com Felicilab"

[2022-04-08 12:08] marameida commented on #53
Em processo de finalização da Inception. Ficaremos no aguardo pelos futuros encaminhamentos. Sobre conexão no workflow, conversado com DesignLab. Por enquanto manteremos conexão entre colunas "design to do" (board Datalab) e coluna "backlog" (board Designlab).

[2022-04-08 12:11] marameida commented on #75
Uira estamos iniciando, em paralelo às atividades de desenvolvimento, a escrita sobre o datalab, visando posterior publicação.

[2022-04-08 12:13] marameida commented on #52
Agendar momento com Alexandre e Gabi para avaliar melhor estratégia de integração.

[2022-04-08 12:58] marameida commented on #69
@uira vamos confirmar com a Natana sobre essa divulgação do link ou se é interesse do setor manter esses dados somente para acompanhamento interno.

[2022-04-08 13:07] marameida commented on #69
Novas demandas de ajustes solicitadas. Serão encaminhadas para 3ª versão.

[2022-04-08 14:24] marameida opened #78 "Comunicar board dos produtos com Datalab"
**Eu como** equipe
**Quero**conectar board dos produtos com Datalab
**Para que** as necessidades possam ser acompanhadas de foma síncrona.

# Contexto
## O que originou
- Atualmente as demandas chegam por diversos canais de comunicação: e-mail ou mensagens diretas. São então posteriormente registradas no board do Datalab e acompanhadas pela equipe de desenvolvimento.

## Qual solução proposta
- [

[2022-04-08 14:32] marameida opened #79 "Desenvolver dashboard com indicadores de acompanhamento para o próprio DATALAB"
**Eu como** equipe DATALAB
**Quero** desenvolver dashboard de indicadores
**Para que** seja possível a gestão das informações do próprio Datalab.

# Contexto
## O que originou
- Atualmente o Datalab não apresenta seus próprios indicadores esquematizados.

## Qual solução proposta
- [ ] Definir indicadores
- [ ] Organizar ferramentas de registro
- [ ] Tabular dados
- [ ] Implementar dashboard

# Cr

[2022-04-08 18:09] marameida commented on #32
Concluído

[2022-04-08 18:09] #32 closed

[2022-04-09 09:40] uira commented on #75
@marameida Samara Mesquita, por favor, não  devemos continuar essa atividade. Não é prioridade. Por favor, vamos priorizar as atividades que marquei com a tag #Demanda, nos comentários anteriores.

[2022-04-09 09:48] uira commented on #69
@marameida Essa avaliação já foi feita por mim. Por favor, siga com a atividade da divulgação.

[2022-04-09 09:52] uira commented on #79
@marameida Essa demanda também deve ser pausada, pois a prioridade são as demandas relacionadas ao laboratório, já identificadas no grupo e no github com a tag #Demanda

[2022-04-09 14:03] aislansf opened #80 "teste issue"

[2022-04-09 14:03] aislansf opened #81 "teste issue"

[2022-04-09 14:05] #81 closed, assigned to nobody

[2022-04-09 14:05] #80 closed, assigned to nobody

[2022-04-09 14:06] aislansf opened #82 "sss"

[2022-04-09 14:06] #82 closed, assigned to nobody

[2022-04-11 12:09] marameida commented on #52
Como solicitado, seguiremos priorizando os resultados do Felicilab.

[2022-04-12 12:33] marameida commented on #78
Mapas: Agendada reunião para integração dos boards;
Sistema Legados: Como não possuem board no zenhub, foi sugerido por @rmadev-master fazermos a comunicação via Redmine.

[2022-04-12 13:59] marameida commented on #69
Certo. Feito. Divulgado e sugerido o mesmo para equipe da DIDES (Natana).

[2022-04-12 15:23] aislansf commented on #2
@rmadev-master é importante marcar um momento para alinhar esses pontos em comuns e fazer os registros em um documento de referência para consultas posteriores.

[2022-04-12 19:11] aislansf commented on #10
@uira  qual a diferença dessa demanda para a demanda da força de trabalho ??

[2022-04-12 19:18] aislansf commented on #28
@victorMagalhaesPacheco qual o contexto desse card ?

[2022-04-12 19:21] aislansf commented on #25
@uira  quem é responsável pelo CEATS? Existe alguém que possa dar contexto a essa demanda ?

[2022-04-12 19:22] aislansf commented on #22
@uira esse card não é o mesmo da força de trabalho ?

[2022-04-12 19:23] aislansf commented on #18
@uira na demanda que temos do mapa [desse card](https://app.zenhub.com/workspaces/datalab-6231e072c248310015b9dd3d/issues/escoladesaudepublica/datalab/33) já contempla essa demanda ?

[2022-04-12 19:29] aislansf commented on #16
@uira essa demanda é a mesma que o [integrasus](https://integrasus.saude.ce.gov.br/#/indicadores/indicadores-coronavirus/coronavirus-ceara) faz ?

[2022-04-12 19:31] #17 closed

[2022-04-12 19:35] aislansf commented on #9
@uira quem são os stakeholders da ouvidoria da ESP?

[2022-04-12 19:36] aislansf commented on #12
@uira o card não apresenta informações suficientes para realizar atividade.

[2022-04-12 19:36] aislansf commented on #6
@uira quem seria o principal stakeholder dessa demanda?

[2022-04-12 19:37] #4 closed

[2022-04-12 19:39] aislansf commented on #3
@uira ainda vamos dar sequência a essa demanda em algum momento? Se sim! Precisamos do direcionamento do que deve ser feito.

[2022-04-12 19:46] #61 closed, assigned to nobody

[2022-04-12 19:47] #8 closed

[2022-04-12 19:47] #62 closed, assigned to nobody

[2022-04-13 13:43] marameida commented on #77
Feito. https://drive.google.com/drive/folders/1d3fUvR8q_1baa7t0XnCNrBVEPwhDAFuK

[2022-04-13 13:43] #77 closed, assigned to aislansf, marameida

[2022-04-13 14:10] marameida commented on #15
Alinhado com @camilaccolares que essa atividade é referente ao dimensionamento da força de trabalho.

[2022-04-13 14:10] #15 closed

[2022-04-13 14:13] marameida commented on #25
Confirmar com CEATS se ainda há interesse na continuidade dessa demanda. Alinhado com a @camilaccolares que a atividade foi cumprida parcialmente.

[2022-04-13 14:18] marameida commented on #22
Alinhado com @camilaccolares que essa atividade se refere ao Dimensionamento da Força de Trabalho. Ver issue #76.

[2022-04-13 14:18] #22 closed

[2022-04-13 14:20] marameida commented on #13
Alinhado com @camilaccolares que essa atividade se refere ao Dimensionamento da Força de Trabalho. Ver issue #76.

[2022-04-13 14:28] marameida commented on #76
Compilando observações já registradas em cards anteriores:
-[ ] Criar gráficos de taxa X municípios para mostrar a curva. (#13)
-[ ] Portaria 1631 de 2015 --> MS recomenda quantitativos de profissionais. (#11)
-[ ] Portaria 2979 de 11/2019 --> define o novo financiamento da APS. (#12)

[2022-04-13 14:30] marameida commented on #13
Demanda compilada em card #76

[2022-04-13 14:30] #13 closed

[2022-04-13 14:30] marameida commented on #11
Documento registrado em card #76, conforme alinhado com @camilaccolares.

[2022-04-13 14:30] #11 closed

[2022-04-13 14:31] marameida commented on #12
Documento registrado em card #76, conforme alinhado com @camilaccolares.

[2022-04-13 14:31] #12 closed

[2022-04-13 14:35] marameida commented on #16
@aislansf  sugiro confirmar com o CISEC se essa demanda já não foi realizada.

[2022-04-13 14:35] marameida commented on #18
@aislansf  sugiro confirmar com o CISEC se essa demanda já não foi realizada.

[2022-04-13 14:56] marameida commented on #2
Alinhado com @rmadev-master momento para refinamento desta demanda:
19/04 às 8:30h.

[2022-04-18 17:32] aislansf commented on #39
@elpadrejorge você consegue dar um tapa no visual desse dashboard?

[2022-04-18 18:02] pauloamoreira commented on #39
.caro @aislansf precisamos ter mais clareza sobre o escopo a ser cumprido pelo DesignLab. sugiro que você aperfeiçoe o escopo da tarefa seguindo o modelo do template. em alguns casos, vale a pena inserir campos com demandas específicas, como por exemplo: "Escopo DEV" e "Escopo DesignLab", para estabelecer de forma clara o que cada time irá entregar.

[2022-04-18 18:11] aislansf commented on #39
@pauloamoreira entendo a necessidade do ajuste do card para o modelo de estória do usuário, porém esse card é antigo e basicamente a necessidade do @rmadev-master é ter a visão do time do designlab sobre esse [dashboard](https://metabase.esp.ce.gov.br/public/dashboard/0950a630-b91a-48be-be7a-fd5338880182) se as cores estão no padrão adequado, se os gráficos representam bem as informações dispostas

[2022-04-18 21:08] aislansf commented on #68
@rmadev-master aguardando validação das novas features adicionadas

[2022-04-18 21:10] aislansf commented on #68
Obs: Os filtros de serviços e solicitante não foram adicionados devido ao metabase não reconhecer caracteres especiais como uma categoria.
No caso dos serviços por conta do ::
No caso dos solicitantes por conta do .

[2022-04-22 12:19] marameida commented on #46
PROJETO SOLUÇÕES DIGITAIS PARA EDUCAÇÃO NA SAÚDE:

Projeto executivo: https://docs.google.com/document/d/1hYO_L9cQ8PQG52f0rQnJYVquNguhSiiS34bthGaTu7Y/edit

EAP: https://gitmind.com/app/doc/3306490246
PROJETO IMPLANTAÇÃO DO MAPA DA SAÚDE:

Projeto executivo:  https://docs.google.com/document/d/1q-fc-KdUJfsjxvZYbCfPkUInBFXOkTkASIDkyw1Rytg/edit

EAP: https://gitmind.com/app/doc/dd0a319ec96d8265b70477

[2022-04-22 12:54] uira commented on #10
É que a demanda a que vc está se referindo, é de um painel de dados, e essa aqui, é de um Painel de Alertas, em que o sistema vai disparar notificações de acordo com as situações. Tem muita similaridade, mas são coisas diferentes.

[2022-04-22 12:59] uira commented on #28
Isso perdeu o sentido, inclusive foi para um repositório próprio. Fechando por motivos de já foi.

[2022-04-22 13:00] #28 closed

[2022-04-22 13:13] uira commented on #2
Foi realizada a reunião?

O contexto principal dessa demanda, é que queremos dar ao superintendente, e a toda a escola, a quantidade de pessoas em cada sistema, e a interseção consolidada, dessas informações, em especial, das pessoas.

Seria um bom primeiro passo, um painel de dados, com as informações dos vários sistemas, e o consolidado de Pessoas Únicas, assim como a frequência de pessoas em um

[2022-04-22 13:32] marameida commented on #2
Feito refinamento com @rmadev-master agora pela manhã.
Para as outras bases já ocorreu a integração, com excessão do SAGU, que está pendente, e da Grasiela, visto que foi descontinuado. Dado o contexto apresentado por @rmadev-master ficaram pendentes as tarefas a seguir:
-[ ] Construir script de extração, transformação e carregamento de dados;
-[ ] Integrar o SAGU com as demais bases e adicionar n

[2022-04-22 14:12] marameida commented on #39
@JesseOliveiraUFC pode agilizar essa questão com a equipe do design?

[2022-04-22 14:16] #38 closed

[2022-04-22 14:18] marameida commented on #10
Ok. Equipe ciente.

[2022-04-22 14:25] marameida opened #83 "[teste workflow]"

[2022-04-22 15:14] marameida commented on #45
SEMANA 04/04 A 22/04

- [x] Participação na Inception;
- [x] Aplicação de questionários de usalidade e implementação com equipe do RPES, Sistema Legados, Qualiquiz;
- [x] Atualização de Board Datalab com repriorização de tarefas;
- [x] Integração com Workflow do ISUS e IdSaúde;
- [x] Ajustes na Dashboard Sistema de chamados - 2ª Versão
- [x] Migração dos dados da base do Mapas para base do Datalab

[2022-04-25 16:19] rafaelmassuncao commented on #78
Acesso restabelecido.

[2022-04-25 16:27] rafaelmassuncao commented on #68
Não encontrei problemas no modelo do Dashboard construído. Aprovado. Para entrar em produção, por favor, atualizar os chamados para a data atual.

@aislansf, qual a possibilidade de haver atualização de dados em tempo real?

[2022-04-25 19:16] marameida opened #84 "Transcrever cards do board do datalab para o figma devido Processo de Inception atual:"
Segue link para edição:

https://www.figma.com/file/saju3rOKS1iGyJg8U3eoNS/Transcri%C3%A7%C3%A3o-das-issues-do-board-do-GitHub---DATALAB?node-id=0%3A1

[2022-04-25 19:36] aislansf commented on #68
@rmadev-master estamos trabalhando com o @fwandson para disponibilizar um ambiente para tornar essa automação em tempo real.

[2022-04-26 17:24] marameida commented on #6
@aislansf podemos refinar essa demanda com @uira para termos melhor contexto?

[2022-04-26 17:26] aislansf commented on #6
Acredito que pode apresentar um melhor contexto seja o @victorMagalhaesPacheco pelo fato de ser algo mais técnico.

[2022-04-26 17:26] marameida commented on #9
Quanto à esta demanda @uira , temos mais alguma informação sobre priorização? Mantemos em backlog por enquanto aguardando refinamento ou não é mais pertinente?

[2022-04-26 17:27] aislansf commented on #9
Acredito que devemos manter em backlog já que temos outras demandas como prioridade

[2022-04-26 18:02] aislansf commented on #18
Esse card já está contemplado dentro dos épicos que destacamos no projeto mapas.

[2022-04-26 18:03] aislansf commented on #16
Essa demanda já está contemplada nos épicos que estamos desenvolvendo com a própria base do projeto mapa.

[2022-04-26 18:03] #16 closed

[2022-04-27 14:58] #83 closed, assigned to nobody

[2022-04-27 15:20] marameida commented on #84
Feito: https://www.figma.com/file/saju3rOKS1iGyJg8U3eoNS/Transcri%C3%A7%C3%A3o-das-issues-do-board-do-GitHub---DATALAB?node-id=0%3A1

[2022-04-27 15:20] #84 closed, assigned to aislansf, marameida

[2022-04-27 19:42] RaniGub commented on #39
Boa tarde @aislansf, para visualizarmos oportunidades de melhoria visual no esquema gráfico é necessário compreender do que se trata com clareza. Estamos fora do contexto de evolução da tarefa e ela não possui história nem escopo claramente definido para dar dicas de compreensão para quem não é da área. É preciso que você dedique um tempo para conversar com o @pauloamoreira ou @elpadrejorge para q

[2022-04-29 17:45] #68 closed, assigned to aislansf

[2022-04-29 17:50] aislansf commented on #39
@RaniGub já foi resolvido internamente essa demanda e para as próximas demandas que surgirão iremos requisitar do stakeholder a estória completa da issue. Agradecido pela disponibilidade e atenção do time do Design lab para sempre.

[2022-04-29 17:50] #39 closed

[2022-05-02 13:07] marameida commented on #78
Ciente @rmadev-master.

[2022-05-02 13:18] marameida commented on #78
Mapeamento das integrações pendentes:
-Legados/GSOL (redmine), Narrativas(github), Felicilab (redmine); Soluções (redmine)

[2022-05-02 13:25] marameida commented on #78
Atualizaçao de fluxograma de implementação, incluíndo COMUNICAÇÃO DATALAB - PRODUTOS/PROJETOS:
https://drive.google.com/drive/folders/1d3fUvR8q_1baa7t0XnCNrBVEPwhDAFuK

[2022-05-02 13:27] marameida commented on #45
SEMANA 25/04 A 29/04
- [x] Participação na Inception;
- [x] Integração com Workflow do Mapas
- [x] Migração dos dados da base do Mapas para base do Datalab;
- [x] Implementação do ETL para migração automática;
- [x] Aplicação de questionários de usalidade e implementação com equipe do Mapas;

SEMANA 02/06 A 06/05
- [x] Reunião de mapeamento prévio de indicadores com projeto Soluções;
- [x] Devolut

[2022-05-03 16:18] JesseOliveiraUFC commented on #56
[x] Completada a conexão entre a base de dados do Mapa da Saúde e a base do DataLab
[x] Realizada a normalização da tabela dos dados para as suas visualizações através do Metabase.
[x] Adaptação da Dashboard de visualização dos indicadores aos novos dados provenientes do Mapas.
[ ] Estudo e Avaliação da elaboração de possíveis novos indicadores

[2022-05-03 16:21] JesseOliveiraUFC commented on #33
Atualização dos indicadores com os dados do Mapas em Produção realizada com sucesso.
A dashboard atualizada pode ser acessada nesse link:
-> https://metabase.esp.ce.gov.br/public/dashboard/34161172-bcdc-4f6d-a939-6543e4e752ee

[2022-05-04 13:37] marameida commented on #53
**Reunião com Time do Soluções:** (Samara, Jesse, Gabriela e Naska)
Proposto mapeamento de indicadores seguindo EAP do projeto
Encaminhamentos:
- NÍVEL PROJETO: Reconhecimento de dados de acompanhamento (Controle de cronograma, Controle de orçamento, Gerenciamento de equipe, Monitoramento de riscos);
- NÍVEL PRODUTOS: Agendar momento com ISUS e IDSAÚDE para levantar indicadores (quantitativos de a

[2022-05-05 16:39] JesseOliveiraUFC commented on #33
Inseridos FIltros de pesquisa dentro da Dashboard acima.
Filtros:
[x] por região de saúde.
[x] por área de saúde.

[2022-05-05 16:49] JesseOliveiraUFC commented on #33
Dashboard com os indicadores da força de trabalho baseada nos dados provenientes do Mapa da Saúde foi implementada com SUCESSO. Em alinhamento com @victorMagalhaesPacheco, ficou decidido que aguardaremos as novas definições provenientes da planning acerca da forma de disponiblização da dashbord dentro do Mapa da Saúde.
Aguardando novas diretrizes para verificar se esse Card é encerrado ou não.

[2022-05-10 13:52] marameida commented on #33
Ciente. Demandas atendidas.

[2022-05-10 13:52] #33 closed

[2022-05-10 13:53] marameida commented on #33
Próximas definições serão registradas em cards futuros.

[2022-05-12 17:08] JesseOliveiraUFC commented on #35
Gostaria de entender o contexto dessa demanda e verificar se a mesma ainda é necessária. E uma vez que seja necessária, seria interessante atualizar com os dados mais recentes ou seria especificamente os dados referentes a julho de 2021?

[2022-05-13 13:36] marameida commented on #53
Reunião 09/05
PAUTA: Indicadores IDSaúde e iSUS
Participantes: Jesse, Samara, Naska, Laysa, Ricardo, Lucas
- Jesser apresentou os dados extraídos do Mapa a título de exemplo;
- IDSaúde pode exportar número de cadastros, quantos logins diários, mas falta quantificar as autorizações para o iSUS e Mapas.
- Sugerido levantamento do perfil dos usuários (da própria ESP e externos) e onde essas informaçõ

[2022-05-17 13:23] JesseOliveiraUFC opened #85 "Integração da Dashboard da Força de Trabalho no Mapa da Saúde"
# Objetivo

*Eu como* DataLab
*Quero* solicitar ao DesignLab as definições de aparência da Dashboard
*Para que* seja implementada e exibida no Mapa da Saúde.

# Contexto
## O que originou: A dashboard dos dados da força de trabalho dos profissionais da saúde do SUS está pronta para ser implementada no Mapa da Saúde e precisa das definições de design sobre onde e como ela será disponibilizada.

##

[2022-05-20 11:25] RaniGub commented on #85
Bom dia @JesseOliveiraUFC , se eu reescrever a história como a sugestão a seguir, faz sentido?

Eu como gestor da ESP
Quero visualizar os indicadores da Força de Trabalho
Para que possam apoiar minha tomada de decisão

[2022-05-20 11:47] JesseOliveiraUFC commented on #85
Faz total sentido. Pois eu creio que esse seja um dos principais objetivos com a dashboard.

[2022-05-20 13:19] JesseOliveiraUFC commented on #85
Pensando bem, @RaniGub, essa demanda não tem nada a ver com os gestores da ESP, ainda. Pois só queremos ter uma definição de como vamos implementar a dashboard dentro do Mapa da Saúde, inicialmente.
Pode ser que enxergar o contexto como um gestor auxilie no processo de design, mas o que queremos agora é somente a definição prática da implementação, se vai ser uma dashboard completa, ou se vai queb

[2022-05-23 12:51] JesseOliveiraUFC commented on #85
Segue o link de acesso à dashboard https://metabase.esp.ce.gov.br/public/dashboard/34161172-bcdc-4f6d-a939-6543e4e752ee

[2022-05-23 13:46] RaniGub commented on #85
Observações
 - Verificar a quebra das informações quando o filtro de município é selecionado;
 - O filtro de município não mostra o município abaixo do campo de pesquisa. Corrigir.

MVP 1
- Colocar o filtro de munício como primeiro, considerando ser o que representa maior valor;
- Modificar para: Município, Macrorregião e Microrregião
- Colocar logo do Mapa da Saúde

MVP 2
- Adicionar filtro de Ca

[2022-05-23 13:47] RaniGub commented on #85
https://www.figma.com/file/QZ4BzFVfx9Hn0rrJ077Dkk/Indicadores-da-For%C3%A7a-de-Trabalho

[2022-05-23 13:49] RaniGub commented on #85
@JesseOliveiraUFC as informações estarão disponíveis inicialmente somente para admins. Na sprint que ela for ser disponibilizada posso sentar com você para indicar como ela vai aparecer para essas pessoas.

[2022-05-24 12:37] JesseOliveiraUFC opened #86 "Corrigir problemas com filtros de dados na dashboard final"
O filtro de dados por município dentro da dashboard da força de trabalho não está funcionando. Verificando a causa para realizar a correção necessáia.

[2022-05-26 23:39] JesseOliveiraUFC commented on #85
Problema com o filtro de município resolvido. Agora funciona normalmente e está completamente vinculado aos filtros de macro e microrregião.

MVP 1
- [x] Colocar o filtro de munício como primeiro, considerando ser o que representa maior valor.
- [x] Modificar para: Município, Macrorregião e Microrregião

[2022-05-27 14:12] JesseOliveiraUFC commented on #85
A Atividade proposta neste card já foi concluída com sucesso. O mesmo será fechado.

[2022-05-27 14:12] #85 closed, assigned to RaniGub, JesseOliveiraUFC

[2022-05-30 11:47] JesseOliveiraUFC commented on #86
Problemas corrigidos com sucesso.

[2022-05-30 11:47] #86 closed, assigned to JesseOliveiraUFC

[2022-07-22 17:00] diegosilvachagas opened #87 "Preparar arquivo para apresentação dos indicadores dos produtos"
## **Objetivo**

**Como** pessoa interessada nas entregas do feliciLab
**Quero** acessar a apresentação dos indicadores dos produtos do  feliciLab
**Para** conhecer as iniciativas e resultados do laboratório

## **Contexto**

-

## **Escopo**

- [ ] escopo1

## **Fora de Escopo**

- fora_de_escopo

## **Critérios de Aceitação**

- [ ] titulo
**Dado que** algo
**Quando** faço
**então** resulta

##

[2022-07-22 17:05] #87 closed, assigned to nobody

[2022-09-15 15:26] JesseOliveiraUFC commented on #70
A reabertura dessa issue se torna necessária com a nova solicitação do @fwandson para acessar a dashboard de visualização dos dados dos chamados OTRS.

Todo o processo de ETL feito pelo Aislan foi perdido porque o mesmo era realizado em sua máquina local e ela for formatada para que o Jefferson pudesse trabalhar com ela.

Todo o processo de construção dos jobs e transforms do ETL precisarão ser re

[2022-09-27 13:49] JesseOliveiraUFC commented on #76
Segue material de referência para cálculo de índices ideais para Agentes Comunitários de Saúde.

https://site.mppr.mp.br/pagina-35.html#:~:text=O%20n%C3%BAmero%20de%20agentes%20comunit%C3%A1rios,UBS%20para%20cada%2012.000habitantes.

[2022-10-05 19:35] nestorufpe opened #88 "Escrita de um artigo científico com a descrição da força de trabalho na área da saúde do estado do Ceará"
## **Contexto**

-Escrita de um artigo científico com a descrição da força de trabalho na área da saúde do estado do Ceará. O artigo tem por objetivo analisar os dados de profissionais do Mapa da Saúde e realizar a comparação com os indicadores da OMS e Censo 2022.

## **Critérios de Aceitação**

- [ ] Escrita e publicação do artigo na Revista Cadernos ESP/CE

## Observações
Links de apoio e infor

[2022-10-11 15:09] JesseOliveiraUFC commented on #88
Referenciando alguns documentos como base para a escrita do artigo:

* Documento onde organizamos as nossas referências:
-- https://docs.google.com/spreadsheets/d/1s9TIDc75nA9G0G-TGggoU40WN1MY5dWYofj6MTz40rM/edit#gid=0

* Materiais de referência para a Revisão Sistemática Literária (RSL):
-- https://app.zenhub.com/files/240087549/9e68937a-ad2e-4576-861f-2217a624fcd9/download
-- https://app.zenhub.

[2022-10-11 15:09] JesseOliveiraUFC commented on #88
Segue material de referência para cálculo de índices ideais para Agentes Comunitários de Saúde.

https://site.mppr.mp.br/pagina-35.html#:~:text=O%20n%C3%BAmero%20de%20agentes%20comunit%C3%A1rios,UBS%20para%20cada%2012.000habitantes.

[2022-10-17 16:57] JesseOliveiraUFC commented on #88
Atualização de progresso da escrita do artigo.

- [x] Inserção de gráficos de indicadores no artigo.
- [x] Avanço na escrita da seção de Resultados.

O artigo encontra-se com aproximadamente 35-40% da escrta básica concluída.

Segue o documento base para eventuais consultas.

[https://app.zenhub.com/files/240087549/d681f2d0-a232-4848-aeb3-9d5e204b3fa5/download](https://app.zenhub.com/files/2400875

[2022-10-21 22:39] JesseOliveiraUFC commented on #88
Progresso atual da escrita do artigo.
No contexto da análise dos dados dos profissionais de saúde nas macrorregiões se tornou necessário o desenvolvimento da visualização dos dados em um mapa macrorregionalizado. O processo de construção desse tipo de visualização personalizada seguiu após alinhamento com @victorMagalhaesPacheco onde ele indicou e repositório do GitHub com contém mapas de todo o p

[2022-11-09 14:34] JesseOliveiraUFC commented on #88
Progresso de escrita do artigo:

- [x] Introdução
- [x] Metodologia
- [x] Resultados
       - Análise Municipal
       - Análise Regional
       - Comparativo Temporal
- [x] Discussões
- [ ] Conclusão
- [ ] Referências

De acordo com os tópicos acima, podemos caracterizar que cerca de 65% do artigo encontra-se com a escrita concluída.

[2022-11-14 21:56] JesseOliveiraUFC commented on #88
Vários avanços significativos na escrita do artigo foram realizados. A sessão de resultados já se encontra quase completa, restando somente a as sessões de discussão e resultados.

Podemos caracterizar o artigo como 80% concluído.

Segue o artigo para consulta.
[Aqui](https://app.zenhub.com/files/240087549/f3adedb1-d11d-4232-a9a8-9e9ad172506f/download)

Eventuais sugestões são bem-vindas.

[2022-11-22 12:41] JesseOliveiraUFC commented on #88
Escrita do artigo avançou para 90%. Foi marcada uma conversa com a Kelma para alinhamento sobre os detalhes finais (conversa foi alinhada na reuniãozona, onde ela se ofereceu para ajudar).

O artigo foi enviado para @Clarisse1983 para revisão.

Segue o arquivo para acesso: [artigo](https://app.zenhub.com/files/240087549/cd09650d-c61d-4504-875b-e78649f3bfef/download)